{% extends "layout.html" %}

{% block content %}
    <h1 class="mt-3">Current Orders</h1>
    <div class="table-responsive mt-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Time</th>
                    <th scope="col">Exchange</th>
                    <th scope="col">Symbol</th>
                    <th scope="col">Validity</th>
                    <th scope="col">Qty</th>
                    <th scope="col">Limit Price</th>
                    <th scope="col">Status</th>
                </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <td>{{ order.createTime }}</td>
                        <td>{{ order.exchangeSegment }}</td>
                        <td>{{ order.tradingSymbol }}</td>
                        <td>{{ order.validity }}</td>
                        <td>{{ order.quantity }}</td>
                        <td>{{ order.price }}</td>
                        <td>{{ order.orderStatus }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}