{% extends "layout.html" %}

{% block content %}
    <h1 class="mt-3">Holdings</h1>
    <div class="table-responsive mt-3">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Exchange</th>
                    <th scope="col">Symbol</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Average Price</th>
                </tr>
            </thead>
            <tbody>
                {% for holding in holdings %}
                    <tr>
                        <td>{{ holding.exchange }}</td>
                        <td>{{ holding.tradingSymbol }}</td>
                        <td>{{ holding.totalQty }}</td>
                        <td>{{ holding.avgCostPrice }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}